@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

:root {
  --lightest-color: #f7fee7;
  --light-color: #ecfccb;
  --medium-color: #84cc16;
  --dark-color: #064e3b;
  --hover-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier Prime", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 0.9rem; */
  padding: 13vh 0;
}

.app {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto) 1fr;
  grid-template-areas:
    "logo logo"
    "list total"
    "list form"
    "list ."
    "list .";
  gap: 10px;
  justify-content: center;
  min-width: 850px;
}

.app > button {
  grid-column-start: 2;
}

.logo {
  grid-area: logo;
  text-align: center;
  font-family: "Courier Prime", monospace;
  margin-bottom: 10px;
}

.logo > img {
  height: 60px;
  width: 64px;
}

.list,
.total,
.form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 15px;
  gap: 5px;
}

.total,
.form-list {
  background-color: var(--light-color);
}

.total {
  grid-area: total;
  height: 100px;
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total span {
  float: right;
  color: var(--dark-color);
}

.list {
  grid-area: list;
  height: 423px;
  width: 500px;
  background-color: var(--light-color);
}

ul {
  overflow: auto;
}

.detail,
li {
  display: grid;
  grid-template-columns: 80px repeat(3, 60px) auto auto auto;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.detail > h2:nth-of-type(1),
li > p:nth-of-type(1) {
  text-align: left;
}

.detail {
  font-size: 0.6rem;
  padding: 3px 8px;
  border-bottom: 2px solid var(--dark-color);
}

li {
  padding: 15px 8px;
  border-radius: 10px;
}

li:hover {
  background-color: var(--hover-color);
}

.sort-clear {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 13px;
}

select {
  padding: 3px 20px;
  border-radius: 12px;
  background-color: var(--dark-color);
  color: var(--lightest-color);
  text-align: center;
}

.sort-clear > button {
  align-self: center;
}

.form-list {
  grid-area: form;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  font-weight: bold;
  padding: 20px;
}

.form-list > button {
  grid-column-start: 2;
}

.form-list i {
  font-size: 20px;
}

input {
  width: 70px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  border: 1px solid var(--medium-color);
  font-family: inherit;
  outline: none;
  border-radius: 5px;
}

input[type="text"] {
  width: 140px;
}
input[type="date"] {
  width: auto;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: inset 0 0 0 1.3px var(--medium-color);
}

button {
  background-color: var(--dark-color);
  padding: 5px 13px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--lightest-color);
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(1);
}

li,
button {
  transition: all 0.3s ease-in-out;
}
